.navbar-brand{
    font-size: 22px;
    margin-left: 10px;
    padding-top: 10px;
    
    font-weight: 600;
    color: #FFFFFF;
}
.navbar {
    background-color: #0C747E;
    height: 73px;
    width: 1550px;
    padding: 0;
}
.para{
    margin-left: 10px;
    font-size: 14px;
}
.container-fluid p{
   margin-top: 4px;
   color: #FFFFFF;
}
.icons {
    color: #FFFFFF;
    font-size: 20px;
    padding-right: 10px;
}
.icons li {
    margin-right: 15px;
}
a:hover {
    cursor: pointer;
}
.col-md-6{
    margin-top:1px;
   
}
.question{
width: 20px;
height: 19px;
margin-right: 10px;

}
.settings{
    width: 22.51px;
    height: 21.24px;
    margin-right: 10px;
   
}
.search{
    width: 25.32px;
    height: 25.32px;
 
    
}
.search-box{
 padding-right: 10px;
  border-right: 1px solid #FFFFFF;
}
.icons{
    display: flex;
    align-items: flex-end;
    
}
.group{
    width:19.69px;
    height: 25.31px;
    margin-right: 10px;
}
.group-main{
padding-left: 20px;
border-right: 1px solid #FFFFFF;
}
.power{
    width: 21.09px;
    height: 22.14px;
}
.power-main{
    padding-left: 20px;
}
.second-header{
    background-color: #83C5BE;
    width: 1535px;
    height: 35px;
    
}
.second-header-2{
    padding-top: 2px;
    width: 1430px;
    margin-left: auto;
    margin-right: auto;
   
  

}

.qti-{
    font-size: 20px;
    height: 35px;
    width: 200px;
    float: left; 
    color: #FFFFFF;
    font-weight: 600;
    
    
}
.progress-value{
    position: absolute;
    top: 80px;
    left: 1430px;
    color: #FFFFFF;
}

progress {
  border: 1px solid #ffffff;
  width: 200px;
  height: 10px;
  float: right;
  margin-top: 11px;
  margin-right: 75px;
}

progress::-webkit-progress-value {
  background:#83C5BE;
 
}
progress::-webkit-progress-bar {
    background:#ffffff;
}


