<div class="paragraph">
    <h2 style="font-weight: 600;">Match Interaction</h2>
    <h4 style="padding-top: 10px;">Match countries and languages</h4>
    <p style="font-weight: 100; font-size: 15px; padding-top: 10px;">The people working on the TAO platform come from a multitude of countries and you get to hear a number of languages in the office everyday. Can you match the cities below with the language most likely to
        be spoken there?</p><br>
    <div class="selection">
        <img src="/assets/images/white-tick.png" class="white-tick" alt="">
        <p class="selection-1">You must select 0 to 5 choices</p>
    </div>
</div>

<div class="grid-container">
        <div class="grid-item" style="background-color: #0000000F;"></div>
        <div class="grid-item-1" style="background-color: #0000000F;">French</div>
        <div class="grid-item-1" style="background-color: #0000000F;">Hungarian</div>  
        <div class="grid-item-1" style="background-color: #0000000F;">Polish</div>
        <div class="grid-item-1" style="background-color: #0000000F;">Dutch</div>
        <div class="grid-item-1" style="background-color: #0000000F; border-right:none">Lithuanian</div>  
        <div class="grid-item-1">Budapest</div>
        <div class="grid-item"><input type="checkbox"></div>
        <div class="grid-item"><input type="checkbox"></div>
        <div class="grid-item"><input type="checkbox"></div>
        <div class="grid-item"><input type="checkbox"></div>
        <div class="grid-item" style="border-right:none"><input type="checkbox"></div>
        <div class="grid-item-1">Vilnius</div>
        <div class="grid-item"><input type="checkbox"></div>
        <div class="grid-item"><input type="checkbox"></div>
        <div class="grid-item"><input type="checkbox"></div>
        <div class="grid-item"><input type="checkbox"></div>
        <div class="grid-item" style="border-right:none"><input type="checkbox"></div>
        <div class="grid-item-1">Paris</div>
        <div class="grid-item"><input type="checkbox"></div>
        <div class="grid-item"><input type="checkbox"></div>
        <div class="grid-item"><input type="checkbox"></div>
        <div class="grid-item"><input type="checkbox"></div>
        <div class="grid-item" style="border-right:none"><input type="checkbox"></div>
        <div class="grid-item-1">Amsterdam</div>
        <div class="grid-item"><input type="checkbox"></div>
        <div class="grid-item"><input type="checkbox"></div>
        <div class="grid-item"><input type="checkbox"></div>
        <div class="grid-item"><input type="checkbox"></div>
        <div class="grid-item" style="border-right:none"><input type="checkbox"></div> 
        <div class="grid-item-1" style="border-bottom: none;">Warsaw</div>
        <div class="grid-item" style="border-bottom: none;"><input type="checkbox"></div>
        <div class="grid-item" style="border-bottom: none;"><input type="checkbox"></div>
        <div class="grid-item" style="border-bottom: none;"><input type="checkbox"></div>
        <div class="grid-item" style="border-bottom: none;"><input type="checkbox"></div>
        <div class="grid-item" style="border-bottom: none; border-right:none"><input type="checkbox"></div>

</div>
<div>
    <img src="/assets/images/landscape.png" class="landscape" alt="">
    <p class="landscape-1">Lithuana, Trakai Island Castle, picture by Julo, released under Cc
        BY-SA 3.0</p>
</div>