<div class="side-bar">
    <div class="test-status">
        <p style="font-size: 17px; font-weight: 500; position: absolute; width: 289px;">Test Status</p>
        <img src="/assets/images/drop-up.png" class="drop-up" alt="">
    </div>
    <div class="viewed">
        <img src="/assets/images/black eye.png" class="b-eye" alt="">
        <p style="font-size: 17px; font-weight: 500;">Viewed</p>
        <p style="position: absolute; top: 5px; left: 250px;">{{viewed}}/17</p>
        
    </div>
    <div class="Answered">
        <img src="/assets/images/radio-checked.png" class="r-check" alt="">
        <p style="font-size: 17px; font-weight: 500;">Answered</p>
        <p style="position: absolute; top: 5px; left: 250px;">{{answered}}/17</p>
        
    </div>
    <div class="UnAnswered">
        <img src="/assets/images/radio-unchecked.png" class="r-uncheck" alt="">
        <p style="font-size: 17px; font-weight: 500;">Unanswered</p>
        <p style="position: absolute; top: 5px; left: 240px;">{{unanswered}}/17</p>
        
    </div>
    <div class="flag">
        <img src="/assets/images/black flag.png" class="b-flag" alt="">
        <p style="font-size: 17px; font-weight: 500;">Flagged</p>
        <p style="position: absolute; top: 5px; left: 250px;">{{flaged}}/17</p>
        
    </div>
    <div class="all">
        <div class="all-box">All</div>
       <div class="radio-box"> <img src="/assets/images/radio-unchecked.png" class="r-uncheck-1" alt=""></div>
       <div class="flag-box"><img src="/assets/images/green-flag.png" class="green-flag" alt=""></div> 
        
    </div>
    <div class="test-status">
        <p style="font-size: 17px; font-weight: 500;">testPart - 1</p>
        <img src="/assets/images/drop-up.png" class="drop-up" alt="">
        
    </div>
    <div class="overview">
        <p style="font-size: 17px; font-weight: 500;">Overview</p>
        <p style="position: absolute; top: 5px; left: 250px;">{{overview}}/17</p>
    </div>
    <div class="Answered-2">
        <img src="/assets/images/radio-checked.png" class="r-check" alt="">
        <p style="font-size: 17px; font-weight: 500;">{{answered2}}</p>
        
    </div>
    <div class="Answered-3">
        <img src="/assets/images/radio-checked.png" class="r-check" alt="">
        <p style="font-size: 17px; font-weight: 500;">{{answered3}}</p>
        
    </div>
    <div class="flag-answered">
        <img src="/assets/images/black flag.png" class="b-flag" alt="">
        <p style="font-size: 17px; font-weight: 500;">{{answered4}}</p>
        
    </div>
    <div class="match">
        <img src="/assets/images/green-eye.png" class="b-eye" alt="">
        <p style="font-size: 17px; font-weight: 500;">Match countries and languages</p> 
    </div>
    <div class="answered5">
        <img src="/assets/images/radio-unchecked.png" class="r-uncheck" alt="">
        <p style="font-size: 17px; font-weight: 500;">{{answered5}}</p>
        
    </div>
    <div class="answered6">
        <img src="/assets/images/radio-unchecked.png" class="r-uncheck" alt="">
        <p style="font-size: 17px; font-weight: 500;">{{answered6}}</p>
        
    </div>
    <div class="answered7">
        <img src="/assets/images/radio-unchecked.png" class="r-uncheck" alt="">
        <p style="font-size: 17px; font-weight: 500;">{{answered7}}</p>
        
    </div>
    <div class="answered8">
        <img src="/assets/images/radio-unchecked.png" class="r-uncheck" alt="">
        <p style="font-size: 17px; font-weight: 500;">{{answered8}}</p>
        
    </div>
    <div class="answered9">
        <img src="/assets/images/radio-unchecked.png" class="r-uncheck" alt="">
        <p style="font-size: 17px; font-weight: 500;">{{answered9}}</p>
        
    </div>
    <div class="bottom-bar">
        <div class="hide-view">
            <img src="/assets/images/side arrow.png" class="side-view" alt="">
            <p style="font-size: 17px; font-weight: 500">Hide View</p>
        </div>
        <div class="unflag">
            <img src="/assets/images/white-flag.png" class="white-flag" alt="">
            <p style="font-size: 17px; font-weight: 500">Unflag for Review</p>
        </div>
        <div class="highlight">
            <img src="/assets/images/brush.png" class="brush" alt="">
            <p style="font-size: 17px; font-weight: 500">Highlight</p>
        </div>
        <div class="clear">
            <img src="/assets/images/cancel.png" class="cancel" alt="">
            <p style="font-size: 17px; font-weight: 500">Clear Highlight</p>
        </div>
        <div class="previous">
            <img src="/assets/images/previous.png" class="previous-sys" alt="">
            <p style="font-size: 17px; font-weight: 500">Previous</p>
        </div>
        <div class="next">
            <p style="font-size: 17px; font-weight: 500">Next</p>
            <img src="/assets/images/next.png" class="next-sys" alt="">
        </div>
       
    </div>
</div>
